body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #111;
    color: #888;
}

#stimulus-window {
    width: 400px;
    height: 60px;
    margin: 15px auto;
    border: 2px solid #333;
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;

    background-color: #000;
    color: #0a0a0a;

    font-family: "Courier New", monospace;

    letter-spacing: 3px;

    text-shadow: 0 0 2px #0a0a0a;

    user-select: none;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #333;
    color: #aaa;
    border: 1px solid #555;
}

input {
    margin-top: 10px;
    padding: 8px;
    width: 300px;
    font-size: 14px;
    background-color: #222;
    color: #ccc;
    border: 1px solid #555;
}

#hint {
    margin-top: 15px;
    font-weight: bold;
    color: #666;
}
